<h1> Portfolio Items </h1>

<!-- Button links for portfolio items -->
<%= link_to "Create New Item", new_portfolio_path if logged_in?(:site_admin) %>

<!-- iterate through portfolio items -->

<%= render partial: 'portfolio_item', collection: @portfolio_items %>
