<h1>About Me</h1>
<hr>

<div class="row">
	<div class="col-md-4">
		<%= image_tag "face.JPG",width: 300, alt: "Profile image"%>
	</div>

<div class="col-md-8">
	<p>I am currently a senior computer science student at UNC Charlotte</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus numquam est, officiis sed in minima tempora eaque dolores. Ea impedit, blanditiis iste officiis nemo temporibus fugiat voluptatum deserunt pariatur fugit.</p>
</div>
</div>