<div class="inner cover">

<h1 class="cover-heading">Hi, <%= current_user.first_name %></h1>
<p class="lead">Under construction</p>

<p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
</p>

</div>